body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8a807e;
    color: #ffffff;
}
h2 {
    color: white;
}
input, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #bbc4c2;
    border-radius: 15px;
    border: 1.5px solid rgb(255, 255, 255);
    outline: none;
}
input:hover {
    background-color: #61706d;
}
button {
    background-color: #140005;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #470012;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #7e7c73;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #ffffff;
}
a {
    color: #bbc4c2;
    text-decoration: none;
    margin: 0 10px;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.erro {
    color: #ff4444;
    text-align: center;
}